<div class="panel panel-default">
  <div class="panel-body">
    <p>
      <div class="form-group">
        <label class="col-md-2 control-label">
          Name:
        </label>
        <%= @user.name %>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label">
          First Name:
        </label>
        <%= @user.first_name %>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label">
          Last Name:
        </label>
        <%= @user.last_name %>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label">
          Email:
        </label>
        <%= @user.email %>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label">
          Suspend:
        </label>
        <%= @user.suspend ? "true" : "false"%>

      </div>

      <div class="form-group">
        <label class="col-md-2 control-label">
          Companies:
          <%= @user.companies.pluck(:name).join(', ') %>
        </label>
      </div>
    </p>
  </div>

  <div class="panel-footer">
    <nav aria-label="...">
      <ul class="pager">
        <li class="previous">
          <%= link_to 'Back', users_path %>
        </li>
        <li class="previous">
          <%= link_to 'Edit', users_uedit_path(@user) %>
        </li>
      </ul>
    </nav>
  </div>
</div>
