<div class="panel panel-default">
  <div class="panel-body">
    <p>
      <div class="form-group">
        <label class="col-md-2 control-label">
          Type:
        </label>
        <%= @minute.company_type %>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label">
          Location:
        </label>
        <%= @minute.location %>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label">
          Secretary:
        </label>
        <%= @minute.secretary %>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label">
          President:
        </label>
        <%= @minute.president %>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label">
          Director:
        </label>
        <%= @minute.director %>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label">
          Treasurer:
        </label>
        <%= @minute.treasurer %>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label">
          Other party:
        </label>
        <%= @minute.other_party %>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label">
          Escriibe property:
        </label>
        <%= @minute.escriibe_property %>
      </div>
    </p>
  </div>

  <div class="panel-footer">
    <nav aria-label="...">
      <ul class="pager">
        <li class="previous"><%= link_to 'Back', minutes_path %></li>
        <li class="previous"><%= link_to 'Edit', edit_minute_path(@minute) %></li>
      </ul>
    </nav>
  </div>
</div>
